#
# Copyright (c) 2018 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

menu "Ruuvitag"

menu "Firmware versioning"

config RUUVITAG_APP_VERSION
	string "The version of the Ruuvitag firmware"
	default "0.0.0"

endmenu # Firmware versioning

config RUUVITAG_DFU_TIMEOUT
	int "The amount of minutes the device will remain connectable to perform a DFU."
	default 2

config RUUVITAG_NFC_SENSOR_DATA
	bool "Enables if Sensor data will be added into NFC payload."
	default false

config RUUVITAG_NFC_SENSOR_DATA_FREQUENCY
	int "Controls how often the NFC Sensor data will be refreshed."
	default 1

endmenu #Ruuvitag

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu

module = RUUVITAG
module-str = Ruuvitag
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"
