menuconfig TMP117
	bool "TMP117 Temperature Sensors"
	depends on I2C
	help
	  Enable driver for TMP117 temperature sensors.

if TMP117

config TMP117_LOG_LEVEL
	int "Log Level"
	range 0 6
	default 3

endif #TMP117